# things not meant to be in git
*.nogit*
*.DS_Store
[Tt]humbs.db

# Dependency directories
node_modules/
bower_components
jspm_packages/

# IDE / Text Editor files
*.sublime-*
.vscode/*
.idea

# All types of logging files
logs
*.log
*.log*

# Ignore jest
jest_*

# anything that can be generated
coverage
README.html
.#*
.~*
